{% extends 'base.html' %}
{% block body %}
    <section id="about">
        <!-- page header -->
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center mt-4">
                  <h2 style="color: antiquewhite;">About Us</h2>
                  <p style="color: white;">
                    Adworks Is An One Stop Solution For 
                    All Your Advertisement Needs. 
                    Adworks Helps Brands Establish And 
                    Enhance Their Social Media Presence. </p>
      
                  <a href="/contact_us" class="btn btn-outline-warning">Available for hire</a>
      
                </div>
              </div>
            </div>
          </div><!-- page header end-->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="row gy-4 justify-content-center">
            <div class="col-lg-6">
              <img src="/static/assets/img/testimonials-bg.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5" style="border:solid white 2px; border-radius: 10px; text-align: center;">
              <h2 style="color: antiquewhite;">​​​​<i><b>​AD that works</b></i></h2>
              <pre class="py-3" style="color: white; font-family:Arial, Helvetica, sans-serif; font-size: medium;">

We Mainly Focus On Professional Social Media
Management And Running Digital Ads On Platforms Such As 
Facebook, Instagram And Google. Everything 
From Scratch From Content Ideation, 
Designing And Final Reach Analysis Is Done 
By Our In-House Experts Team.
We Are A Fully-Functional Startup And Already 
Have A Cliental Base In Surat.

In The Website, We Want Frontend Related To 
Digital Marketing And AI Tools
And A Direct Booking Button From Which Clients 
Can Register For Our Services
              </pre>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
    </section>
{% endblock body %}