
{% extends 'base.html' %}
{% block body %}
    <!-- ======= End Page Header ======= -->
    <section id="hero1" class="d-flex align-items-center justify-content-center">
      <section id="services" class="servicesheader" ></section>
       <div class="page-header d-flex align-items-center " >
         <div class="container position-relative">
           <div class="row d-flex justify-content-center">
             <div class="col-lg-6 text-center">
              <h2 style="color: antiquewhite;">Our Services</h2>
              <p style="color: white;">We at AD works provides you the best and hustle free experience to advertise your business. We promote all kinds of businesses on social media platforms via sponsered ads and more. </p>
  
              <a href="/contact_us" class="btn btn-outline-warning">Available for hire</a>
  
             </div>
           </div>
         </div>
       </div>
    </section>
    </section><!-- End Page Header -->

    
      <div class="section-title" style="margin-top: 85px;">
        <h2>Services</h2>
        <p style="color: antiquewhite;">Check our Services</p>
      </div>
      <section id="services" class="services">
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="fa-regular fa-file"></i>
                <h4>Content Design</h4>
                <p>We design content appropriate for your target audience</p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="fa-solid fa-rectangle-ad"></i>
                <h4>Copy Writing</h4>
                <p>We provide most suitable ADtext with your business</p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="fa-solid fa-handshake"></i>
                <h4>Engagement</h4>
                <p>Engage a wider variety of audience with your businesss</p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="fa-solid fa-hashtag"></i>
                <h4>Hastag Research</h4>
                <p>We provied best hastags after detailed research about your business</p>
              </div>
            </div><!-- End Service Item -->
  
          </div>
  
        </div>
      </section>

{% endblock body %}